h3 {
	font-family: "Raleway", sans-serif;
	/* font-weight: 200; */
	font-size: 30px;
	color: black;
	margin-top: 1.5em;
	/* margin-bottom: 1em;  */
}

.project-text {
	font-size: 14px;
}

.item {
	width: 500px;
	padding: 5em;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	/* z-index:1 ; */
}

.item2 {
	width: 1000px;
	padding: 5em;
}

.row {
	display: flex;
	flex-wrap: wrap;
	/* padding: 0 4px; */
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 33%;
	max-width: 33%;
	padding: 0 4px;
}

.column-project{
	flex: 33%;
	max-width: 33%;
	padding: 0 4px;
	/* height:500px; */
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

.column-project img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

h4 {
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	margin-top: 1.5em;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
}

h5,
h6 {
	font-family: "Raleway", sans-serif;
	color: #6B7F8A
}

.pinpoint {
	/* color: #6B7F8A */
	text-decoration: underline;
}

body,
html {
	height: 100%;
	color: black;
	line-height: 1.8;
	font-family: "Raleway", sans-serif;
}

a,
p {
	font-size: 18px;
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
	text-decoration: none
}

.note {
	font-size: 16px;
	font-style: italic
}

.button1 {
	background-color: white;
	/* border: 2px solid slategray; */
	/* color: slategray; */
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
	display: inline-block;
	font-size: 16px;

}

.button1:hover {
	/* background-color: slategray; */
	/* Green */
	color: white;
}

.button2 {
	/* background-color: black;
	border: 2px solid black; */
	border-radius: 5px;
	color: white;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
	display: inline-block;
	font-size: 16px;
}

.text-highlight {
	font-weight: 700;
	/* transition-duration: 0.4s; */
	/* color: black */
}

/* .text-highlight:hover {
	color: #588bad
} */

/* .button2:hover {
	border: 2px solid #3f6c8a;
	background-color: #3f6c8a;
	color: white;
} */

.text {
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.text2 {
	width: 50vw;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.text-colored {
	font-size: 14px;
	transition-duration: 0.4s;
	/* color: black */
}

/* .text-colored:hover {
	color: #588bad
} */
.text-highlight-no-hover {
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	/* color: black */
}

.hover-text {
	text-decoration: none;
	transition: 0.2s;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

.hover-text:hover {
	color: #588bad;
}

.project-image {
	border-radius: 20px;
	text-align: right;
	margin: 2em;
	transition-duration: 0.2s;
}


.column1 {
	float: left;
	text-align: right;
	/* padding: 1em; */
	width: 50%;
}

.column2 {
	float: left;
	padding: 1em;
	width: 45%;
}

.column3 {
	float: left;
	text-align: right;
	padding-right: 2em;
	width: 30%;
}

.column4 {
	float: left;
	padding-left: 2em;
	width: 70%;
}


/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 3em;
}

#vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.span-text {
	white-space: nowrap;
	text-align: center;
	font-family: "Raleway", sans-serif;
}

#span-text-inner {
	font-size: 10px !important;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	/* color:black; */
}

.title2 {
	/*font-family: 'ZCOOL QingKe HuangYou', cursive;*/
	font-size: 22px;
	/* color:black; */
}

.navbar-item {
	text-decoration: none;
	transition: 0.2s;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	/* color: black; */
}

.menu-button {
	text-decoration: none;
	transition: 0.2s;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	/* color: black; */
}

.menu-button:hover {
	/* color: black */
}

.footer-button {
	text-decoration: none;
	transition: 0.2s;
	font-size: 24px;
	margin: 10px;
	font-family: 'Raleway', sans-serif;
	/* color: black; */
}

.footer-button:hover {
	/* color: black */
}

.contact-button {
	text-decoration: none;
	transition: 0.2s;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	/* color: black; */
}

.contact-button:hover {
	/* color: black */
}

.navbar-item:hover {
	/* color: black */
}

.icon {
	/* color:black; */
	transition: .2s;
	margin: 1pt;
	text-decoration: none;
	font-size: 20px;
}

.icon:hover {
	/* color: black; */
}


.grid-element {
	width: 100%;
	transition-duration: 0.2s;
}

.about {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.container {
	/* background-image: url('Assets/nanjing_.jpg'); */
	display: flex;
	align-items: flex-start;
	padding-top: 5em;
	min-height: 100%;
}

/* Second image (Portfolio) */

.bgimg-2 {
	background-image: url("Assets/nanjing_1.jpg");
	min-height: 400px;
}

/* Third image (Contact) */

.bgimg-3 {
	background-image: url("/Assets/hang_glider.jpg");
	min-height: 400px;
}

.bgimg-4 {
	background-image: url("/Assets/sandiego.jpg");
	min-height: 400px;
}

.bgimg-5 {
	background-image: url("/Assets/angicart.png");
	min-height: 400px;
}

.bgimg-6 {
	background-image: url("/Assets/balloon.jpg");
	min-height: 400px;
}

.w3-wide {
	letter-spacing: 2px;
}

.w3-hover-opacity {
	cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
	.column1 {
		width: 100%;
		text-align: center;
	}
	.column2 {
		width: 100%;
	}
	.column-project {
		flex: 100%;
		max-width: 100%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}

	.column-project {
		flex: 100%;
		max-width: 100%;
	}

	.container {
		display: block;
		position: relative;
	}

	.item {
		width: 100%;
		padding: 5em;
		position: relative !important;
	}

	.item2 {
		width: 100%;
		padding: 1em;
	}

	.text2 {
		width: 90vw;
		font-size: 14px;
	}

	.navbar-item {
		display: none !important;
	}

	.content {
		margin: 20px;
	}

	.note {
		font-size: 14px;
	}

	.grid-element {
		margin-top: 10px !important;
	}

	.button2 {
		font-size: 14px;
	}

	.button1 {
		margin-top: 1em !important;
		font-size: 14px;
	}

	.video {
		height: 300px;
	}

	#span-text-inner {
		font-size: 24px !important;
	}

	.project-text {
		margin: 0 !important;
		padding: 0 !important;
	}

	.column1 {
		width: 100%;
		text-align: center;
		/* padding: 2em; */
	}


	.column2 {
		width: 100%;
		/* padding: 2em; */
	}

	.column3 {
		width: 100%;
		text-align: center;
		padding: 0;
	}


	.column4 {
		width: 100%;
		padding: 0;

	}

}